page-home {
    .mock-div{
        // height: 50%;
        // background-color: aquamarine;
        padding: 15px;
        border: 10%;
        margin-top: 5%;
        margin-bottom: 15%;
        // border-color: hsl(0, 0%, 0%);
        // border-style: solid;
      }
    .ion-slide{
        border-radius: 50%;
        .ion-avatar{
            padding: 110px;
            border: 110px rgb(8, 14, 12);
        }
    }
    
}