<div class=player_design>
        <progress-bar [progress]="currentTrack.progress"></progress-bar>

    <ion-grid>
 
        <ion-row>
            <ion-col item-width="33">
                <div>
                    {{currentTrack.title}}
                    {{currentTrack.artist}}
                </div>
                
            </ion-col>
            <ion-col width="33">
                <button (click)="prevTrack()" color="light" clear ion-button icon-only><ion-icon name="ios-skip-backward"></ion-icon></button>
            </ion-col>
 
            <ion-col width="33">
                <button *ngIf="!currentTrack.playing" (click)="playTrack(currentTrack)" color="light" clear ion-button icon-only><ion-icon name="ios-play-outline"></ion-icon></button>
                <button *ngIf="currentTrack.playing" (click)="pauseTrack(currentTrack)" color="light" clear ion-button icon-only><ion-icon name="ios-pause-outline"></ion-icon></button>
            </ion-col>
 
            <ion-col width="33">
                <button (click)="nextTrack()" color="light" clear ion-button icon-only><ion-icon name="ios-skip-forward"></ion-icon></button>
            </ion-col>
 
        </ion-row>
 
    </ion-grid>
 
</div>
